.vs/
.ds_store
node_modules
/.vs/multiplayer-game-starter-main/FileContentIndex/2920b430-fc71-4e71-83e5-8614c772211f.vsidx
/.vs/multiplayer-game-starter-main/FileContentIndex/508c1cb7-84f9-4bdd-829d-bde52798b9b1.vsidx
/.vs/multiplayer-game-starter-main/FileContentIndex/73e080d5-3e31-4001-ad74-e623133fc840.vsidx
/.vs/multiplayer-game-starter-main/FileContentIndex/581734f3-15be-4ad5-81aa-e64a6ecd3d5c.vsidx
*.vsidx
/.vs/multiplayer-game-starter-main/v17/.wsuo
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/multiplayer-game-starter-main/v17/DocumentLayout.json
/public/img/2160px-Crab_Nebula.jpg
